:root {
  --white: hsl(0, 0%, 100%);
  --bg: hsl(240, 7%, 29%);
  --shadegray: hsl(0, 0%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--bg);
}

.input-box {
  background: var(--white);
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
  color: var(--shadegray);
}
